body {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 500;
}


.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';



