.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/main_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}